body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    border: 0px solid;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-image: linear-gradient(#fbd808, #ff9005);
    display: grid;
    place-items: center;
    font-size: 4rem;
    color: white;
    margin: 70px;
}

/* this grid has 2 rows and 3 columns. */
.grid-container {
    display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "figure empty aside";
  gap: 10px;
}

/* this is the header grid */
nav {
    grid-area: header;
  background-color: #f1c40f;
  border-bottom: 5px solid;
  width: 100%;
  padding-bottom: 10px;
}

/* figure grid */
figure {
    grid-area: figure;
    border-top: 5px solid;
    border-right: 5px solid;
    height: 100%;
    width: 100%;
    margin-top: -2px;
}

/* aside grid */
aside {
    grid-area: aside;
    border-top: 5px solid;
    border-left: 5px solid;
    height: 100%;
    width: 100%;
    margin-top: -2px;
}
